.coming-page {
	background:#222222 url(/images/imgback.jpg) no-repeat;background-size:cover;
	float: left;
	width: 100%;
	text-align: center;
	margin: 0px;
	height: 100%;
	padding:20px 0px;
}
.coming-page h2 {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font: bold italic 50px/80px "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
	color: #ffffff !important;
}
.coming-page img {
	width: 200px;
	margin: 0px;
	padding: 1px;
	padding:0px;
}
.coming-page form{
	width:100%;
	margin-top: 0px;
	padding: 0px;
	float: left;
}
.coming-page form p {

	display:inline-block;
	margin: 0 auto;
	padding: 5px 2px;
	width: 350px;
}

.coming-page form label {
	float: left;
	width: 100%;
	margin: 0px;    word-spacing: 2px;
	padding: 20px 0px 0px 0px;
	color: #888;
	font: 400 20px/50px "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
	/* text-shadow: 0px 0px 1px #999; */
	text-transform: uppercase;
}

.coming-page form p input {
	width: 100%;
	padding: 0 12px;
	font: 400 14px/38px "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
	float: left;
	background: #343434;
	color: #fff;
	border: none;
	margin: 0px 0px 10px!important;
}
.coming-page form p input[type="submit"] {
	float: left;
	background: #00aef0;
	padding: 0px 10px;
	color: #fff;
	font: 600 19px/35px "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
	text-transform: uppercase;
	width: 100%;
}
.coming-page form p input:focus {
	outline: none;
}
.coming-inner{
	width:100%;
	margin: 0;
	position:fixed;
	top:25%;
	height: 100%;
	padding: 0px;
	float: left;
}