.dashboard{
	margin-top: 30px;
	background: #f5f5f5;
	padding: 20px;

}

.tope{
	text-align: center;
	border: 2px solid #efefef;
	padding: 12px;
	margin-bottom: 15px;
	background: #fff;
	float: left;
	width: 100%;
	.tope-head {
		width: 66%!important;
		float: right;
		p {
			font-size: 12px;
			text-align: left;
			height: 54px;
			overflow: hidden;
		}
	}
	.tope-img {
		width: 33%;
		float: left;

		img{
			width: 68px;
			float: left;
			margin: 0px;
			padding: 0px;
			height: 68px;
			object-fit: cover;
		}

	}


	h4{
		color: #00aef0;
		font-weight: 400;
		font-size: 17px;
		margin: 0px;
		text-align: left;
	}
	p {
		font-size: 13px;
		text-align: left;
	}
}

.bus{
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 30px 0px;
	&:nth-child(1) {
		padding-top: 0px;
	}

	h1{
		font-size: 23px;
		color: #2780E3;
		font-weight: bold;
		margin: 0px;
	}
	.userBox{
		border:none;
		min-height: 350px;
		.bio{
			display: none;
		}
		h3 {
			font-size: 20px !important;
			font-weight: 400;
			float: left;
			width: 100%;
			text-align: left;
			color: #00aef0;
			line-height: 25px;
			margin: 0px;
			padding: 5px 0px;
		}
		h5 {
			float: left;
			font-size: 16px;
			padding: 0px;
			margin: 0px;
			font-weight: normal;
		}
	}
}

.list-group{
	.list-group-item{
		border: 1px solid #efefef !important;
		padding: 15px !important;
		a {
			font-size: 17px;
			text-decoration: none;
			text-transform: capitalize;
			i {
				padding: 0px 20px 0px 0px !important;
				width: 34px;
			}
			i.fa.fa-plus {
				float: right;
				margin: 0px;
				padding: 0px !important;
				width: 22px;
			}


		}
		.badge {
			display: inline-block;
			min-width: auto;
			padding: 0px!important;
			font-size: 13px;
			font-weight: bold;
			color: #2780E3;
			line-height: 34px;
			text-align: center;
			border-radius: 100% !important;
			background: #efefef !important;
			width: 34px;
			height: 34px;
			text-align: center;
		}

	}

}
.dashboard-inner{
	background: #fff;
	padding: 15px;
	.owl-nav.disabled {
		display: block !important;
	}
	img.hover-img {
		display: none !important;
	}
	.hover-info ul {
		display: none !important;
	}
	.bus .userBox {
		border: none;
		min-height: auto!important;
		img {
			display: block;
			width: 100%;
			object-fit: cover;
			height: 135px;
		}
	}
	.owl-prev {
		color: transparent;
		position: absolute;
		left: -19px;
		top: 32%;
		&:after {
			content: '\f104';
			font-family: FontAwesome;
			position: absolute;
			font-size: 32px;
			background: rgba(255, 255, 255, 0.5);
			color: #2780E3;
			left: 0;
			padding: 0px 8px;
			line-height: 40px;
			cursor: pointer;
		}
	}
	.owl-next {
		color: transparent;
		position: absolute;
		right: -20px;
		top:32%;
		&:after {
			content: '\f105';
			font-family: FontAwesome;
			position: absolute;
			font-size: 32px;
			background: rgba(255, 255, 255, 0.7);
			color: #2780E3;
			right: 0;
			padding: 0px 8px;
			line-height: 40px;
			cursor: pointer;
		}
	}
	.owl-nav.disabled div {
		background: none !important;
		padding: 0px;
		margin: 0px;
		color: transparent;
	}
	.profile {
		background: none !important;
		float: left;
		h2 {
			margin: 0px;
			padding: 0px;
			font-size: 30px;
		}
		p.loc {
			float: left;
			width: 100%;
			font-size: 16px;
			padding: 10px 0px;
			margin:0px;
			i {
				padding: 0px 8px 0px 0px;
			}
		}
		.public-pro {
			position: absolute;
			float: right;
			right: 0;
		}
		.tabs-profile {
			float: left;
			width: 100%;
			margin: 20px 0px;
			padding: 0px;
			.tab-content {
				float: left;
				width: 100%;
				margin: 0px;
				padding: 10px;
				border-top: none !important;
				border: 1px solid #ccc;
			}

		}


	}
	#EditProfileForm{
		h2 {
			font-size: 25px;
			background: #f5f5f5;
			padding: 10px;
			margin: 20px 0px;
		}
		label {
			float: left;
			width: 100% !important;
		}
		.radiob {
			padding: 15px;
		}
	}
	#ChangePasswordForm{
		h2 {
			font-size: 25px;
			background: #f5f5f5;
			padding: 10px;
			margin: 20px 0px;
		}
		.update-btn {
			float: left;
			width: auto;
			margin: 0px 15px;
		}

	}
	.createjobbtn{
		float: right;
		width: auto;
	}
	.jobBoxprivate{
		h3.title {
			color: #2bbcf3;
			font-size: 22px;
			font-weight: 400;
			margin: 0px;
		}
		.job-head {
			float: left;
			width: 100%;
			border-bottom: 1px solid #f3f3f3;
			margin: 0px 0px 10px;
			p
			{
				margin: 0 0 10.5px;
				float: left;
				width: 100%;
				span {
					font-size: 14px;
					color: #666;
					padding: 0px 10px 0px 0px;
					float: left;
				}
			}
		}
	}
}
.owl-carousel {
	padding: 10px 0px;
}
.btn {
	padding: 6px 18px!important;
	border-radius: 3px;
}
.userBox a {
	cursor: pointer;
}
