.logo {
  float: left;
  width: auto;
  margin: 0px;
  padding: 0px;
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    width: 180px !important;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 8px;
  margin-top: 26px;
  margin-right: 4px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 24px !important;
  height: 3px !important;
  border-radius: 1px;
  background: #00aef0 !important;
}
.nav-page {
    border: none !important;
    padding:5px 0px !important;
    .logo
    {
      .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        width: 180px;
    }
  }
   .nav {
      float: right;
      width: auto;
      padding: 22px 0px 0px !important;
      li
      {
       a {
          text-decoration: none;
          color: rgb(255, 255, 255);
          font-size: 20px !important;
          font-weight: 500;
          transition: 0.3s ease;
          margin: 0px 5px;
          padding: 8px 15px !important;
      }
    }
  }
}