.logo {
    float: left;
    width: auto;
    margin: 0px;
    padding: 0px;
            .img-responsive {
            display: block;
            max-width: 100%;
            height: auto;
            width: 180px !important;
            }

}
#nav {
    padding: 10px 0px !important;

    position: absolute!important;
    width: 100%;
    border: none;
    z-index: 999;
             .nav {
                padding: 22px 0px 0px !important;
                float: right;
                width: auto;
                            li {
                                        	a{
                                          transition: 0.3s ease;
                                              color: #fff;
                                              font-size: 20px;
                                              text-decoration: none;
                                              padding: 20px 0;
                                              margin: 0 20px;
                                              font-weight: 500!important;

                                              &:hover {
                                   background: transparent!important;
                                              color: #00aef0!important;
                                              }


                                            }

                                }
                                .signup a {
                                    background: transparent !important;
                                    color: #fff;
                                }
              }

    }

