
#home{
	.banner{
		background: url('/images/banner.jpg') no-repeat;
		background-size: cover;
		height: 600px !important;
		&:before {
		    background: rgba(255,255,255,0.24);
		    content: "";
		    width: 100%;
		    left: 0;
		    top: 0;
		    height: 600px!important;
		    position: absolute;
		}

		.home-search {
 		           background: none;
		           padding: 40px 0px 0px;
		           margin: 0px auto;
		           width: 548px;
		           top: 150px!important;
		           float: left;
		           position: relative;


		    .tac {
		        font: 300 40px/55px "Source Sans Pro",sans-serif;
		        text-align: center;
		        color: #fff;
		        width: 100% !important;
		        float: left;
		        text-align: left;
		        margin: 0px;
		        padding: 0px;
		    }
		    form {
		        width: 100%;
		        float: left;
		        margin: 0px;
		       padding: 24px 0px;
		       input[type="text"] {
		            float: left;
		            width: 100%;
		            background: rgba(0, 0, 0, 0.1);
		            border: 2px solid #fff;
		            font: 400 18px/42px sans-serif;
		            padding: 0px 10px;
		            color: #fff;
		        }
		    }
		}


	}
	.companies{
		margin: 10px 0;
		background: #fbeadc;
		.imal{
			text-align:center;
		}
		.imah{
			display: inline-block;
			width: 18%;
			padding: 3px 4%;
			img{
				width:100%;
			}
		}
	}
	.profile{
		margin-top: 20px;
		text-align: center;
		.list a{
			padding: 21px 36px;
			display: inline-block;
			background: #00aef0;
			margin: 17px 9px;
			font-size: 22px;
			font-weight: bold;
			color: #fff;
		}
		.list .seeall{
			background: #32bb32;
		}
	}
	.works{
		background: url('/images/how-works-bg.jpg') no-repeat;
		background-size: cover;
		.con{
			font-size: 32px;
			color: #733092;
			text-align: center;
			margin-bottom: 14px;
		}
	}
	.top-talent{
		a{
			color: #4d5254;
			text-decoration: none;
			font-size: 22px;
			&:hover{
				color: #333c40;
				text-decoration: underline;
			}
		}
	}
	.reviewed{
		.artist{
			text-align: right;
			img{
				width: 138px;
			}
		}
		.content{
			margin-top: 7px;
			font-size: 19px;
			color: #000;
		}
	}
	.invitation{
		background: #7ec243;
		color: #fff;
		padding: 15px;
		text-align: center;
		margin-top: 37px;
		.inn{
			color: #fff;
			font-size: 60px;
		}
		.started{
			color: #fff;
			padding: 10px;
			border: 7px solid;
			margin: 30px;
			display: inline-block;
			font-size: 33px;
			font-weight: bold;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
