
#nav{
	padding: 10px;
	border-bottom: 4px solid rgb(10, 79, 163);
	.nav {
		padding-top: 32px;
		li{
			display: inline-block;
			a{
				font-size: 21px;
				color: #333;
				margin-left: 6px;
				padding: 16px 21px;
				display: inline-block;
			}
		}
		.signup a{
			background: #15a45b;
			color: #fff;
			&:hover{
				background: #15a45b;
			}
		}
	}
}