#EditProfileForm,#ChangePasswordForm{
	display: none;
}
.topi{
	//margin-top: 25px;

	.lefti,.righti{
		width: 100%;
		display: inline-block;
	}
}

.talentList{
	position: relative;
	.trash{
		position: absolute;
		right: 10px;
	}
}

.sim{
	width:100px;
	height: 100px;
	object-fit: cover;
}

.profileImage {
	width: 100%;
	height: 250px;
	position:relative;
	object-fit: cover !important;
	float: left;

}

.folioImage{
	max-width: 200px;
	max-height: 300px;
	margin: 10px;
	display: inline-block;
}
.river{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:300;
	padding:20px;
	height: 100vh;
	width: 100%;
	text-align: center;
	overflow: auto;
	background: rgba(0, 0, 0, 0.65);
	z-index:999999999;
}
.waterImage{
	width: auto;
	height: auto;
	max-width: 100%;
}
.portfolio {
	//width: 70% !important;
	float: right;
   // background: #fff;
   margin: 20px 0px;
   // box-shadow: 1px 1px 4px #999999;

   .portflio-link {
   	float: left;
   	width: 100%;
   	background: #fff;
   	padding: 18px;
   	margin: 0px 0px 14px;
   	box-shadow: 1px 2px 10px #ccc;
   	h2 {
   		float: left;
   		width: auto;
   		margin: 0px;
   		padding: 0px;
   		font-size: 24px;
   		font-weight: 500;
   		color: #666;
   	}
   	h3{
   		float: left;
   		width: auto;
   		margin: 0px;
   		padding: 0px;
   		line-height:40px;
   		font-size: 20px;
   		font-weight: 500;
   		color: #666;
   	}
   	.images {
   	    float: left;
   	    width: 100%;
   	    padding: 0px;
   	    margin: 0px;
   	    .folioImage {
   	      border: 1px solid #f8f8f8;
   	      padding: 5px;
   	      margin: 2px;
   	      max-width: 152px;
   	      max-height: 300px;
   	      object-fit: cover;
   	      height: 125px;
   	      width: 152px;
   	    }

   	}
	.videos{
   	    float: left;
   	    width: 100%;
   	    padding: 0px;
   	    margin: 0px;
   	    iframe {
   	        float: left;
   	        max-width: 194px;
   	        max-height: 125px;
   	        margin: 4px;
   	        border: none;
   	    }
   	}
   }
   .tabs-profile {
   	float: left;
   	width: 100%;
   	margin: 20px 0px;
   	padding: 0px;
   	.tab-content {
   		float: left;
   		width: 100%;
   		margin: 0px;
   		padding: 10px;
   		background: #fff;
   		border-top: none !important;
   		border: 1px solid #ccc;
   	}

   }
}

.profile {
	position: relative;
	width: 100%;
	height: auto;
	background: #f5f5f5;
	float: left;
	.profile-top {
	    width: 100%;
	    float: left;
	}
	.profile-main {
		float: left;
		width: 100%;
		position: relative;
		margin: 0px;
		padding: 0px;
		.profile-banner {
			width: 100%;
			height: 400px;
			object-fit: cover;
			background-position: left top;
			background-image: url(/uploads/profile/sam-I8wO6n27.jpg);
			background-size: 100%;
			&:after {
				background: -webkit-linear-gradient(left, rgba(126, 63, 157, 0.2), rgba(126, 63, 157, 1)rgba(126, 63, 157, 1)); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(right, rgba(126, 63, 157, 0.2), rgba(126, 63, 157, 1)); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(right, rgba(126, 63, 157, 0.2), rgba(126, 63, 157, 1)); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to right, rgba(126, 63, 157, 0.2), rgba(126, 63, 157, 1)); /* Standard syntax (must be last) */


				content: "";
				position: absolute;
				height: 400px;
				width: 100%;
			//opacity: 0.901;
		}
	}
	.banner-head {
		position: absolute;
		bottom: 5px;
		width: 68%;

		float: right;
		right: 5px;
		h4 {
			color: #fff;
			width: 100%;
			margin: 0px;
			padding: 0px;
			float: left;
			font-size: 30px;
			text-transform: capitalize;
			font-weight: 500;
		}
		.righti {
			float: left;
			width: 100%;
			margin: 0px;
			padding: 0px;
			p {
				float: left;
				color: #fff;
				font-size: 16px;
				line-height: 40px;
				padding: 0px 27px 0px 0px
			}
		}
	}
}
.profile-sidebar{

	box-shadow: 1px 1px 4px #999999;
	padding: 0px;
	margin: -120px 0px 28px;
	width: 22%;
	.lefti{
		width: 100%;
		float:left;
		display: inline-block;
		position: relative;
		&:before {
			background: -webkit-linear-gradient(left, rgba(231, 41, 32, 0.2), rgba(126, 63, 157, 1)rgba(126, 63, 157, 0.7)); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(right, rgba(126, 63, 157, 0.2), rgba(126, 63, 157, 0.7)); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(right, rgba(126, 63, 157, 0.2), rgba(126, 63, 157, 0.7)); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to right, rgba(126, 63, 157, 0.2), rgba(126, 63, 157, 0.7)); /* Standard syntax (must be last) */
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left:0px;
			z-index: 999 !important;
		}
		p {
			position: absolute;
			background: rgba(39, 128, 227, 0.9);
			bottom: 16px;
			width: auto;
			padding: 0px 17px;
			color: #fff;
			font-size: 18px;
			line-height: 40px;
			font-weight: 500;
			border-radius: 34px;
			float: none;
			margin: 0px;
			left: 35px;
			z-index: 9999 !important;
		}
	}
	.profile-data {
		float: left;
		width: 100%;
		margin: 0px;
		background: #ffffff;
		padding: 15px;
		h4 {
			float: left;
			width: 100%;
			margin: 0px;
			padding: 0px;
			font-size: 19px;
			line-height: 30px;
			font-weight: 500;
		}
		p {
			float: left;
			width: 100%;
			margin: 0px;
			padding: 5px 0px;
			font-size: 14px;
		}
	}
	.like-thumb {
		float: left;
		width: 100%;
		border-bottom: 1px solid #f9f9f9;
		padding: 8px 0px;

		p {
			float: left;
			width: 100% !important;
			margin: 0px;
			padding: 0px;
			span {
				float: right;
				color: #ccc;
				font-size: 17px;
			}
			i{
				float: left;
				color: #ccc;
				width: 28px;
				height: 28px;
				line-height: 30px;
				text-align: center;
				font-size: 22px;
			}
		}
		ul {
			width: auto;
			margin: 0px;
			padding: 0px;
			float: right;

			li{
				float: left;
				margin: 0px;
				padding: 0px 2px;
				width: auto;
				list-style: none;
				span{
					a
					{    pointer:cursor;
						i{
							float: left;
							width: auto;
							background: #ccc;
							color: #fff;
							border-radius: 100%;
							width: 30px;
							height: 30px;
							line-height: 30px;
							text-align: center;
							font-size: 17px;
						}

					}

				}
			}

		}
	}
	.social-link {
		float: left;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

}


}

